# "Python Basics"
> "Python Basics 실습"

- toc: true
- branch: master
- badges: true
- comments: true
- author: YeEun
- categories: [jupyter, python]

## 데이터 마이닝 2022 1학기 Python_Basics

In [6]:
a=5; b=6; c=7

In [2]:
c

7

In [9]:
a= [1,2,3]
b=a

append 함수를 적용했을 때 위에서 b와 a가 같다고 하였기 때문에 a에만 리스트를 추가해주어도 b의 값까지 바뀌는 것을 볼 수 있다.

In [11]:
a.append(4)
b

[1, 2, 3, 4]

In [12]:
a

[1, 2, 3, 4]

숫자가 들어있는 a의 타입은 int

In [15]:
a=5
type(a)

int

문자가 들어있는 a의 타입은 str이다.

In [16]:
a='foo'
type(a)

str

숫자와 문자를 더하면 값이 나오지 않는다.

In [17]:
'5'+5

TypeError: can only concatenate str (not "int") to str

In [18]:
a=4.5
b=2

print 안에 {}딕셔너리를 사용하여 a is type(a), b is type(b)를 출력

In [20]:
print('a is {0}, b is {1}'.format(type(a), type(b)))
a/b

a is <class 'float'>, b is <class 'int'>

2.25

isinstance 는 a가 int가 맞는지 출력

In [22]:
a=5
isinstance(a, int)

True

두가지 형태로하여 int나 float 중 a의 타입이 있는지 묻는 함수, 이 함수를 통해 변수의 타입을 알 수 있다.

In [25]:
a=5
b=4.5
isinstance(a,(int, float))
isinstance(b,(int, float))

True

In [26]:
a='foo'

upper()로 a에 있는 영문을 대문자로 만든다.

In [29]:
a.upper()

'FOO'

In [30]:
getattr(a,'split')

In [31]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [32]:
isiterable('a string')

True

In [34]:
isiterable([1,2,3])

True

In [36]:
isiterable(5)

False

some_module 은 두 줄 사이에 걸리는 시간 계산해준다.

some_module

Binary

In [57]:
5-7
12+21.5
5<=2

False

In [58]:
a=[1,2,3]
b=a
c=list(a)
a is b
a is not c

True

In [59]:
a == c

True

In [60]:
a= None
a is None

True

Mutable and immutable object

In [62]:
a_list=['foo', 2,[4,5]]
a_list[2] =(3,4)
a_list

['foo', 2, (3, 4)]

In [63]:
a_tuple=(3,5,(4,5))
a_tuple[1]='four'

TypeError: 'tuple' object does not support item assignment

Scalar Types

In [64]:
ival=17239871
ival ** 6

26254519291092456596965462913230729701102721

In [65]:
fval=7.243
fval2=6.78e-5

In [66]:
3/2

1.5

In [67]:
type(3/2)

float

In [68]:
3//2

1

Strings

In [69]:
a='one way of writing a string'
b="another way"

In [78]:
c="""
This is a longer string that 
spans multiple lines
"""

In [79]:
c

'\nThis is a longer string that \nspans multiple lines\n'

괄호안에 있는 \n이 얼마나 쓰였는지 알려준다.

In [80]:
c.count('\n')

3

In [81]:
a='this is a string'
a[10]='f'

TypeError: 'str' object does not support item assignment

In [82]:
b=a.replace('string','longer string')
b

'this is a longer string'

In [83]:
a

'this is a string'

In [85]:
a=5.6
s=str(a)
print(s)

5.6

In [87]:
s='python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [88]:
s[:3]

'pyt'

In [89]:
print('12\n34')

12
34

In [90]:
s='12\\34'
print(s)

12\34

In [91]:
a='this is the first half '
b='and this is the second half'

a+b

'this is the first half and this is the second half'

In [92]:
template='{0:.2f} {1:s} are worth US${2:d}'
template

'{0:.2f} {1:s} are worth US${2:d}'

In [93]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [94]:
template.format(1265.23, 'won',1)

'1265.23 won are worth US$1'

Booleans

In [95]:
True and True

True

In [96]:
False or False

False

In [97]:
s='3.14159'
fval=float(s)
type(fval)

float

In [98]:
int(fval)

3

In [100]:
bool(0)

False

Nome

In [102]:
a=None
a is None

True

In [103]:
def add_and_maybe_multiply(a,b,c=None):
    result = a+b
    if c is not None:
        result=result *c
    return result

In [104]:
add_and_maybe_multiply(5,3)

8

In [105]:
add_and_maybe_multiply(5,3,10)

80

In [106]:
type(None)

NoneType

Dates and times

In [107]:
from datetime import datetime, date, time

In [108]:
dt=datetime(2011, 10,29, 20,30,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [109]:
dt.day

29

In [110]:
dt.minute

30

In [111]:
dt.date()

datetime.date(2011, 10, 29)

In [112]:
dt.time()

datetime.time(20, 30, 21)

In [113]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [114]:
dt.strftime('%Y/%m/%d %H:%M')

'2011/10/29 20:30'

In [115]:
datetime.strptime('20091031','%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [116]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [117]:
dt2=datetime(2011,11,15,22,30)
delta=dt2-dt
delta

datetime.timedelta(days=17, seconds=7179)

In [118]:
type(delta)

datetime.timedelta

In [119]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

if, elif, and else

In [121]:
x=-5

if x <0 :
    print('It is negative')

It is negative

In [123]:
x=-5
if x<0:
    print('It is negative')
elif x==0:
    print('Equal to zero')
elif 0<x<5:
    print('Positive but smaller than 5')
else:
    print('Positve and larger than or equal to 5')

It is negative

for loops

In [124]:
sequence=[1,2,None, 4, None, 5]
total=0
for value in sequence:
    total +=value

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [125]:
sequence=[1,2,None,4, None, 5]
total=0

for value in sequence:
    if value is None:
        continue
    total += value

In [126]:
total

12

In [127]:
sequence=[1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value ==5:
        break
    total_until_5 += value

In [128]:
total_until_5

13

In [129]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [130]:
for a,b,c in [[1,2,3],[4,5,6],[7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [131]:
x=256
total=0
while x>0:
    if total >500:
        break
    total += x
    x=x//2

In [132]:
total

504

In [133]:
x

4

In [134]:
256+128+64+32+16+8

504

range

In [135]:
range(10)

range(0, 10)

In [136]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [138]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [144]:
seq=[1,2,3,4]
for i in range(len(seq)):
    val=seq[i]

In [145]:
val

4

In [147]:
sum = 0
for i in range(100000):
    if i % 3 ==0 or i % 5==0:
        sum+=i

In [148]:
x=5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [149]:
x=5
a=100 if x>=0 else -100
a

100